<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="3" android:versionName="1.02"
    package="com.redhorse.quickstart" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:theme="@android:style/Theme.Borqs">
        <activity android:label="@string/app_name"
            android:launchMode="singleTask" android:name=".quickstart" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AppConfig" android:screenOrientation="portrait"/>
        <activity android:name=".AppAll" android:screenOrientation="portrait"/>
        <activity android:name=".Feedback"/>
        <activity android:name=".weibo"/>
        <service android:label="@string/app_name" android:name=".ServiceRed">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </service>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="3"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
